workflows:
  version: 2
  test_machine_images:
    jobs:
      - default
      - latest
      - edge
      - 03-01
      - 07-01
      - 08-01
      - 09-01
      - 10-01
      - 10-02

version: 2
jobs:
  
  default:
    machine: true
    steps:
      - run: sudo apt-get update
      
      - run: |
          docker version
          docker-compose version
      
      - checkout
    
  latest:
    machine:
      image: circleci/classic:latest
    steps:
      - run: sudo apt-get update
      
      - run: |
          docker version
          docker-compose version
      
      - checkout
      
  edge:
    machine:
      image: circleci/classic:edge   
    steps:
      - run: sudo apt-get update
      
      - run: |
          docker version
          docker-compose version
      
      - checkout
      
  03-01:
    machine:
      image: circleci/classic:201703-01 
    steps:
      - run: sudo apt-get update
      
      - run: |
          docker version
          docker-compose version
      
      - checkout
      
  07-01:
    machine:
      image: circleci/classic:201707-01
    steps:
      - run: sudo apt-get update
      
      - run: |
          docker version
          docker-compose version
      
      - checkout
      
  08-01:
    machine:
      image: circleci/classic:201708-01 
    steps:
      - run: sudo apt-get update
      
      - run: |
          docker version
          docker-compose version
      
      - checkout
      
  09-01:
    machine:
      image: circleci/classic:201709-01
    steps:
      - run: sudo apt-get update
      
      - run: |
          docker version
          docker-compose version
      
      - checkout
      
  10-01:
    machine:
      image: circleci/classic:201710-01
    steps:
      - run: sudo apt-get update
      
      - run: |
          docker version
          docker-compose version
      
      - checkout
      
  10-02:
    machine:
      image: circleci/classic:201710-02
    steps:
      - run: sudo apt-get update
      
      - run: |
          docker version
          docker-compose version
      
      - checkout