version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: echo "hello world"

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
  nightly:
    
    triggers:
      - schedule:
          cron: "2 * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build